@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Granaina';
    src: url('../fonts/granaina.otf') format('opentype');
}

@font-face {
    font-family: 'Brasilero';
    src: url('../fonts/brasilero.otf') format('opentype');
}


@font-face {
    font-family: 'PPMondwest';
    src: url('../fonts/ppmondwest.otf') format('opentype');
}

body {
    @apply bg-primary-background font-inconsolata;
}

html, body, #__nuxt, #nuxt {
    height: 100%;
}

img {
  @apply select-none;
}
